<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="board" class="com.ohgiraffers.common.BoardDTO">
        <constructor-arg index="0" value="1234" />
        <constructor-arg index="1" value="나는문어" />
        <constructor-arg index="2" value="꿈을꾸는문어" />
        <constructor-arg index="3" value="김재현" />
    </bean>
</beans>